@model IEnumerable<examen1ds39.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" role="button" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelUsuario)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.CodUser">Edit</a> |
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.CodUser">Details</a> |
                    <a asp-action="Delete" class="btn btn-delete" asp-route-id="@item.CodUser">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
